name: build

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: build-${{ matrix.arch }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64/v8
    steps:

      - name: setup-podman
        uses: TerrorJack/setup-podman@master

      - name: checkout
        uses: actions/checkout@v4

      - name: build-image
        run: |
          podman build \
            --arch ${{ matrix.arch }} \
            --network host \
            --pull \
            --squash-all \
            --tag rust:alpine-mimalloc \
            .

      - name: test-image
        run: |
          podman run \
            --arch ${{ matrix.arch }} \
            --init \
            --network host \
            --rm \
            --tmpfs /tmp:exec \
            --volume $PWD:/workspace \
            --workdir /workspace \
            rust:alpine-mimalloc \
            /workspace/test.sh
          MIMALLOC_VERBOSE=1 ./bin/names
          file ./bin/names
